body {
  padding: 100px;
  background-color: #eee;
}

.bank-title {
  text-align: center;
}

.submit-area {
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 30px;
}

#transaction-area {
  display: none;
}

.deposit {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.blance {
  background-color: orange;
}

.status {
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
